body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  border-top: 1px solid #ccc;
  overflow: hidden;
}
* { box-sizing: border-box; }


body {
  background: #000;
}

#layout-container {
  text-align: center;
}

.galaxy-container {
  width: 500px;
  margin: 35px auto;
  background: #111;
  border-radius: 5px;
}
